@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700&display=swap");

.btn_1, .btn_2, .regervation_part .btn_2:hover {
  background-image: -webkit-linear-gradient(to right, #649bff, #0070fa, #649bff);
  background-image: -o-linear-gradient(to right, #649bff, #0070fa, #649bff);
  background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
}

.regervation_part .btn_2 {
  background-image: -webkit-linear-gradient(to right, #fff, #fff, #fff);
  background-image: -o-linear-gradient(to right, #fff, #fff, #fff);
  background-image: linear-gradient(to right, #fff, #fff, #fff);
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.submit_btn {
  width: auto;
  display: inline-block;
  background: #fff;
  padding: 0px 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #edeff2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


.submit_btn:hover {
  background: transparent;
}


.btn_1 {
  display: inline-block;
  padding: 10.5px 36px;
  font-size: 14px;
  color: #000;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  border: 1px solid #e4e6ea;
  border-radius: 2px;
  font-family: "Playfair Display", serif;
  background-size: 200% auto;
}


.btn_1:hover {
  background-color: #0065e1 !important;
  color: #fff;
  background-size: 200% auto;
}

@media (max-width: 576px) {
 
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
 
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}


.btn_2 {
  display: inline-block;
  padding: 16px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  background-size: 200% auto;
  border-radius: 5px;
  display: inline-block;
}


.btn_2:hover {
  color: #fff;
  background-position: center right;
}

.home_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}


.main_menu .navbar-brand {
  padding: 0rem !important;
}

@media (max-width: 576px) {
 
  .main_menu .navbar-brand {
    max-width: 120px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
 
  .main_menu .navbar-brand {
    max-width: 130px;
  }
}


.main_menu .navbar-toggler {
  position: relative;
  z-index: 1;
}


.main_menu .navbar-toggler:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 200% auto;
}


.main_menu .navbar {
  padding: 0;
}

@media (max-width: 576px) {
 
  .main_menu .navbar {
    padding: 15px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
 
  .main_menu .navbar {
    padding: 15px 0;
  }
}


.main_menu .main-menu-item {
  text-align: center;
  justify-content: center;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .main_menu .main-menu-item {
    padding-left: 25px;
  }
}


.main_menu .main-menu-item ul li .nav-link {
  color: #242429;
  font-size: 14px;
  padding: 38px 23px;
  font-family: "Playfair Display", serif;
  line-height: 13px;
  text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 16px;
  }
}


.main_menu .main-menu-item ul li .nav-link:hover {
  color: #0065e1;
}


.main_menu .btn_1 {
  padding: 8.5px 34px;
  margin-left: 65px;
}


.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}


.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  margin-top: -1px;
}


.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 9px 18px !important;
  color: #000 !important;
  text-transform: capitalize;
}


.dropdown .dropdown-menu .dropdown-item:hover {
  color: #0065e1 !important;
}


.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 991px) {
 
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important;
  }
 
  .main_menu .navbar {
    padding: 15px 0;
  }
 
  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0;
  }
 
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 62px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
    box-shadow: 0px 11px 9px -5px rgba(0, 0, 0, 0.2);
  }
 
  .main_menu .main-menu-item {
    text-align: left !important;
  }
 
  .main_menu .main-menu-item .nav-item {
    padding: 5px 15px !important;
  }
 
  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important;
  }
 
  .navbar-nav {
    align-items: start !important;
  }
 
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }
 
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #0065e1;
  }
 
  .dropdown .dropdown-item:hover {
    color: #0065e1 !important;
  }
}


.single_page_menu .logo_2 {
  display: none;
}


.single_page_menu .logo_1 {
  display: inherit;
}


.single_page_menu .main-menu-item ul li .nav-link {
  color: #fff;
  font-size: 15px;
  padding: 0px 24px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .single_page_menu .main-menu-item ul li .nav-link {
    padding: 0px 16px;
  }
}


.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
}


.menu_fixed .logo_2 {
  display: inherit;
}


.menu_fixed .logo_1 {
  display: none;
}


.menu_fixed .main-menu-item ul li .nav-link {
  color: #000;
}


.banner_part {
  height: 935px;
  position: relative;
  overflow: hidden;
  background-image: url(../img/banner_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

@media (max-width: 991px) {
 
  .banner_part {
    background-image: none;
    background-color: #f7f7f7;
    height: 650px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .banner_part {
    height: 650px;
  }
}


.banner_part .banner_text {
  display: table;
  width: 100%;
  height: 935px;
}


.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
  padding-top: 155px;
}

@media (max-width: 991px) {
 
  .banner_part .banner_text .banner_text_iner {
    vertical-align: middle;
    padding-top: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .banner_part .banner_text .banner_text_iner {
    padding-top: 0;
    padding-top: 100px;
  }
}

@media (max-width: 576px) {
 
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 650px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
 
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 650px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 650px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .banner_part .banner_text {
    height: 650px;
  }
}


.banner_part .banner_text h5 {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  color: #242429;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}


.banner_part .banner_text h1 {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.2;
}

@media (max-width: 576px) {
 
  .banner_part .banner_text h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
 
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}


.banner_part .banner_text h1 span {
  color: #0065e1;
}


.banner_part .banner_text p {
  font-size: 15px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: #242429;
  padding-right: 20px;
}


.banner_part .banner_text .btn_2 {
  margin-top: 50px;
}

@media (max-width: 991px) {
 
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
 
  .banner_part .banner_img {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
 
  .banner_part {
    margin-top: 20px;
  }
}

